@import url('https://fonts.googleapis.com/css2?family=Poppins:wght;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: transparent;
    background-size: cover;
    background-image: url(img/blackandyellow.png);
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    justify-content:space-between;
    align-items: center;
    display: flex;
    background-color: transparent;
    padding: 20px;
}

.logo {
    font-size: 40px;
    text-decoration: none;
    display: flex;
    color: #e21111;
    font-weight: 900;
}


.navbar {
    width: 28%;
    justify-content: center;
    margin-right: 100px;
    align-items: center;
    display: flex;
}

.navbar a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    margin-left: 20px;
    transition: .1s;
    cursor: pointer;
}

.navbar a:hover {
    color: blue;
}

.container {
    width: 80%;
    margin: 100px;
    background-color: #ffffff50;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 100px; 
    min-height: 100vh;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 100px;
}

.skills img {
    width: 20%;
    border-radius: 900px;
    display: flex;
}

.skills {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.skills h1 {
    font-size: 30px;
    font-weight: 800;
}

.skills h2 {
    font-size: 30px;
    text-transform: uppercase;
}

.skills p {
    font-size: 20px;
    font-weight: 800;
}

.skills li {
    font-weight: 600;
}

.cards {
    width: 40%;
    box-sizing: border-box;
    border: 4px solid #ddd;
    box-shadow: 0 0 20px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 20px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 60px;
}

.cards img {
    width: 90%;
    margin: 15px;
    margin-left: 20px;
}

.cards h1 {
    font-size: 30px;
    margin: 20px;
    font-weight: 800;
}

.cards p {
    font-size: 15px;
    font-weight: 800;
}

.btn {
    margin: 20px;
    margin-left: 200px;
    padding: 10px;
    color: black;
}

.cards .btn:hover {
    background-color: transparent;
    color: black;
    text-decoration: underline 2px;
}

.cards:hover {
    background-color: gray;
}